<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <!-- logo -->
        <img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        <h3>Lugar para poner la barra de búsqueda</h3>
        <h3>Comprá en cuotas y sin tarjeta de crédito</h3>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="">Creá tu cuenta</a></li>
                <li><a href="">Ingresá</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <p>$6.770</p>
                <p>40% off</p>
                <h3>Cafetera Moulinex</h3>

        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <h3>MacBook Pro 2019</h3>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <h3>Samsung Galaxy S10</h3>

        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <p>$23.200</p>
                    <p>5% off</p>
                    <h3>SmartTv Samsung 43"</h3>

        </section>
        <section>
            <h2>Sección de ofertas</h2>
        <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de la cafetera">
                <h3>$6.770</h3>
                <h3>40% OFF</h3>
                <h3>Cafetera Moulinex</h3>

        <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacBook">
                    <h3>$230.000</h3>
                    <h3>20% off</h3>
                    <h3>MacBook Pro 2019</h3>

        <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy">
                    <h3>$70.500</h3>
                    <h3>10% off</h3>
                    <h3>Samsung Galaxy S10</h3>

        <img src="/images/img-tv-samsung-smart.jpg" alt="imagen del SmartTv">
                    <h3>$23.200</h3>
                    <h3>5% off</h3>
                    <h3>SmartTv Samsung 43"</h3>      
        </section>
    </main>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>
</html>
